@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

header {
height:50px;
background-color:rgba(255, 255, 255, 0.95);
position:fixed;
width:100%;
z-index: 300000;
/*
-webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.1);
*/
}




.nav-top {
width:100%;
background-color:rgba(0, 0, 0,.9);
height: 12rem;
text-align: center;
font-family: 'Montserrat', sans-serif;
}

.nav-top a{
text-decoration: none;
color: white;
border: none;
}

.social-nav img {
width: 40px;
padding: 0 10px;
}

.social-nav li{
display: inline;
}

.social-nav img:hover {
opacity: .3;
transition: all 120ms linear;

}

.nav-toggle ul li a {
color:white;
text-decoration: none;
text-align: center;
padding: 8px 10px;
font-weight: 300;
}


header ul li{
font-size: 1rem;
padding: 12px 0;
}

header ul {
padding-top: 12px; 
}

header h2 {
font-weight: 400;    
}

header h2 a {
font-weight: 400;
text-decoration: none;
color: black;
}


header h2 a:visited{
font-weight: 400;
text-decoration: none;
color: black;
}

header ul li a:hover {
/*color: #67d6e3;*/
transition: all 120ms linear;
}

.nav-mobile {
margin: 0 auto;
font-family: 'Montserrat', sans-serif;
margin-top: -6px;
position:relative;
width: 90%;
}


.nav-btn,
.nav-btn:link,
.nav-btn:visited{
height: 35px;
width: 35px;
position: absolute;
top: -5px;	
right: 0%;
background: rgba(255, 255, 255, 0) url('../assets/nav-toggle-01-01.svg') no-repeat center center;
}

.nav-top {
opacity: 0;
}

.nav-top[data-state="expanded"] {
opacity: 1;
display: block;
margin-top: -8px;
transition: all 250ms linear;
}




#banner {
/* background: url("../assets/banner-bg.jpg")  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; */
width: 100%;
}

.banner-content {
padding-top: 100px;
display: block;
width: 80%;
margin: 0 auto;
padding-bottom: 100px;
}

h1 {
text-align: center;
font-size: 42px;
line-height: 65px;
font-family: 'Montserrat', 'helvetica', sans-serif;
font-weight: 900;
text-align: center;
color: #ff4e4e;
letter-spacing: 12px;
margin-bottom: 40px;
}

h1 .bold {
font-weight: 500;
font-style: italic;
}

.banner-content p{
color: #484848;
font-family: 'Montserrat','helvetica', sans-serif;
text-align: center;
font-size: 20px;
font-weight: 300;
line-height: 32px;
}

#banner .social{
text-align: center; 
margin-bottom: 40px;

}

#banner .social ul li img{
 width: 26px;
margin: 0 20px;
transition: all 150ms linear;

}

#banner .social ul li img:hover{
opacity: .6;
}

#banner .social ul li {
display: inline;
}

#banner .contact {
margin-top: 55px; 
margin-bottom: 20px;
}

#banner .button a{
font-family: 'Montserrat',sans-serif;
text-decoration: none;
    padding: 14px 60px;
font-size: 20px;
    background-color: #ff4e4e;
color: white;
transition: all 150ms linear;
-webkit-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.47);
box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.47);
}

#banner p a:hover {
opacity: .8;   
-webkit-box-shadow: 0px 0px 0px -6px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 0px 0px -6px rgba(0,0,0,0.47);
box-shadow: 0px 0px 0px -6px rgba(0,0,0,0.47);
}

#banner .contact ul {
text-align: center;
margin: 0 auto;
}

#banner .contact li {
font-family: 'Montserrat','helvetica', sans-serif;
color: #ff4e4e;
font-size: 16px;
font-weight: 900;
line-height: 26px;
text-align: center;
padding-bottom: 20px
}

#banner .contact li i {
padding-right: 2px;    
}

body {
margin:0;
padding:0;
height: 100%;
}

#container {
min-height:100%;
position:relative;
}

#header {
background:#ff0;
}

/* WORK =====================================*/

#work-kriteek {
max-width: 100%;
background-color: white;
-webkit-box-shadow: 0px 0px 90px -26px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 0px 90px -26px rgba(0,0,0,0.47);
box-shadow: 0px 0px 90px -26px rgba(0,0,0,0.47);
}

.kriteek{  
margin: 0 auto;
padding: 100px 0;
max-width: 80%;
}

.kriteek img {
text-align: center;
display: block;
margin: 0 auto;
width: 240px;
margin-bottom: 20px;
}

.kriteek h2{
margin: 0 auto;
width: 100%;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 800;
text-align: center;    
color: #00bfb3;
font-size: 28px;
}

.kriteek h3 {
margin: 0 auto;
width: 100%;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 600;
text-align: center;    
color: #98a0a8;
font-size: 14px;   
}

.kriteek p{
color: #98a0a8;
font-family: 'Montserrat',sans-serif;
line-height: 28px;
font-weight: 400;
margin-top: 0;
font-size: 16px;
text-align: center;   
}

/* kriteek-2 ================== */

#work-kriteek-2 {
max-width: 100%;
background-color: #f5f5f5;
}

.kriteek-2{  
background: url("../assets/kriteek/bg-1.jpg")  no-repeat center center;
background-size: cover;
width: 100%;
height: 20rem;
}


.kriteek-2 h3 {
margin: 0 auto;
width: 100%;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 400;
text-align: center;    
color: #98a0a8;
font-size: 14px;   
}

.kriteek-2 p{
color: #98a0a8;
font-family: 'Montserrat',sans-serif;
line-height: 28px;
font-weight: 400;
margin-top: 0;
font-size: 16px;
text-align: center;   
}

/* kriteek-3 ================== */

#work-kriteek-3 {
max-width: 100%;
background-color: white;
}

.kriteek-3 h3 {
margin: 0 auto;
width: 100%;
padding-top: 100px;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 400;
text-align: center;    
color: #98a0a8;
font-size: 14px;   
}

.kriteek-3 img {
 width: 300px;
display: block;
margin: 0 auto;
padding-top: 100px;
padding-bottom: 100px;
}

/* kriteek-gif ================== */

#work-kriteek-gif {
background-color: #f0f0f0;    
}

.kriteek-gif {
 padding: 100px 0;   
}

.kriteek-gif img {
padding: 40px 0;
margin: 0 auto;
display: block;
width: 350px;
}

/* kriteek-4 ================== */

#work-kriteek-4 {
max-width: 100%;
background-color: #00bfb3;
}

.kriteek-4 h3 {
margin: 0 auto;
width: 100%;
padding-top: 100px;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 400;
text-align: center;    
color: #98a0a8;
font-size: 14px;   
}

.kriteek-4 img {
 width: 200px;
display: block;
margin: 0 auto;
padding-top: 100px;
padding-bottom: 100px;
}

/* planet-ink ================== */

#planet-ink {
max-width: 100%;
background-color: #white;
}

#planet-ink {  
margin: 0 auto;
padding: 100px 0;
max-width: 80%;
}

#planet-ink img {
text-align: center;
display: block;
margin: 0 auto;
width: 240px;
margin-bottom: 20px;
}

#planet-ink h2{
margin: 0 auto;
width: 100%;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 800;
text-align: center;    
color: #414141;
font-size: 28px;
}

#planet-ink h3 {
margin: 0 auto;
width: 100%;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 600;
text-align: center;    
color: #98a0a8;
font-size: 14px;   
}

#planet-ink p{
color: #98a0a8;
font-family: 'Montserrat',sans-serif;
line-height: 28px;
font-weight: 400;
margin-top: 0;
font-size: 16px;
text-align: center;   
}

/* planet-ink-stn ================== */

#planet-ink-stn{  
background: url("../assets/planet-ink/stationary.jpg")  no-repeat center center;
background-size: cover;
width: 100%;
height: 20rem;
}

/* planet-ink-2 ================== */

#planet-ink-2{
background-color: white;   
}

#planet-ink-2 img {
 width: 300px;
display: block;
margin: 0 auto;
padding-top: 100px;
padding-bottom: 100px;
}

/* planet-ink-3 ================== */

#planet-ink-3{  
background: url("../assets/planet-ink/bg-1.jpg")  no-repeat center center;
background-size: cover;
width: 100%;
height: 20rem;
}

/* planet-ink-4 ================== */

#planet-ink-4 img{
width: 300px
}

.screen-list ul {
padding: 100px 0px;    
}

.screen-list li{
text-align: center;
padding: 40px 0px;
}

/* planet-ink-sketches ================== */

#planet-ink-sketches{  
background: url("../assets/planet-ink/sketches.jpg")  no-repeat center center;
background-size: cover;
width: 100%;
height: 20rem;
}

/* stayready ================== */

#stayready{  
margin: 0 auto;
padding: 100px 0;
max-width: 80%;
}

#stayready img {
text-align: center;
display: block;
margin: 0 auto;
width: 240px;
margin-bottom: 20px;
}

#stayready h2{
margin: 0 auto;
width: 100%;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 800;
text-align: center;    
color: #2abeff;
font-size: 28px;
}

#stayready h3 {
margin: 0 auto;
width: 100%;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 600;
text-align: center;    
color: #98a0a8;
font-size: 14px;   
}

#stayready p{
color: #98a0a8;
font-family: 'Montserrat',sans-serif;
line-height: 28px;
font-weight: 400;
margin-top: 0;
font-size: 16px;
text-align: center;   
}

/* work-stayready ================== */

#work-stayready {
max-width: 100%;
background-color: #f0f0f0;     
}

.stayready img {
padding: 100px 0;
width: 350px;
margin: 0 auto;
display: block;
}

/* work-stayready-bg-screen ============== */

#work-stayready-bg-screen{  
background: url("../assets/stayready/bg-screen.jpg")  no-repeat center center;
background-size: cover;
width: 100%;
height: 20rem;
}

/* ABOUT ====================================*/

#about {
max-width:100%;
background:#f2f2f2;
}

.about-content {
padding: 100px 0;
max-width: 80%;
margin: 0 auto;
}

#about h2{
text-align: center;
color: #6C7A89;
font-family: 'Montserrat',sans-serif;
font-size: 28px;
      margin: 0;
  padding-bottom: 40px;
}

mark.blah {
    color:#ff4e4e;
    background: none;
    font-weight: 600;
}

#about .me {
color: #6C7A89;
font-family: 'Montserrat',sans-serif;
line-height: 28px;
font-weight: 400;
margin-top: 0;
margin: 0 auto;
font-size: 16px;
word-spacing: 4px;
text-align: center;
}

#about p {
color: #6C7A89;    
}

#about img {
margin: 0 auto;
display: block;
width: 70px;
padding-top: 40px;    
}

#about img:hover {
transform: rotateZ(14deg);
transition: all 100ms linear;
}

.focus-content{
margin: 0 auto;
width: 100%;
}

.focus img {
width:200px;
margin: 0 auto;
text-align: center;
}


.focus {
max-width: 100%;
text-align: center;
}

.focus-section h3 {
font-family: 'Montserrat',sans-serif;
color: black;
}

.focus-section {
text-align: center;
padding: 60px 0;
}

.focus-content p {
margin: 0 auto;
font-family: 'Montserrat',sans-serif;
text-align: center;
font-size: 14px;
word-spacing: 2px;
line-height: 22px;
width: 80%;
color: #8d8d8d;  
}

#footer {
/*background: url("../assets/footer-banner.jpg")  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;*/
position: absolute;
height: 400px;
/*background-color:  rgb(13, 199, 255);*/
background-color: #f2f2f2;
width: 100%;
text-align: center;
}


#footer ul {
color: #6c7a89;
font-family: 'Montserrat',sans-serif;
line-height: 24px;
font-weight: 400;
margin-top: 0;
width: 80%;
margin: 0 auto;
padding-top: 22px;
max-width: 230px;
padding-bottom: 20px;
}

.footer-content {
 padding-top: 100px;   
}

#footer .contact ul{
max-width: 220px;   
}

.contact ul li{
font-size: 14px;
text-align: left;
}

#footer .email a{
font-family: 'Montserrat',sans-serif;
text-decoration: none;
    padding: 14px 60px;
font-size: 20px;
    background-color: #ff4e4e;
color: white;
transition: all 150ms linear;
-webkit-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.47);
box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.47);
}

#footer p a:hover {
opacity: .8;   
-webkit-box-shadow: 0px 0px 0px -6px rgba(0,0,0,0.47);
-moz-box-shadow: 0px 0px 0px -6px rgba(0,0,0,0.47);
box-shadow: 0px 0px 0px -6px rgba(0,0,0,0.47);
}

.footer-social img {
 width: 30px;
}

.footer-social li{
 display: inline;
padding: 20px 20px;
}

.footer-social a:hover{
opacity: .5; 
transition: all 100ms linear;
}

li i {
padding-right: 25px;    
}


@media only screen and (min-width: 35em) {
    
.nav-top {
opacity: 1;
}

.nav{
padding:0;
height: 50px;
width: 100%;

}

.nav-toggle{
width: 100%
}
    
.nav-bottom .social-nav {
 display: inline;   
}
    
.social-nav {
display:none;  
}

.nav-btn{
display:none;        
}
    
.nav-mobile {
font-family: 'Montserrat', sans-serif;
width:100% !important;
}


.nav-top[data-state="expanded"] {
transition: all 250ms linear;
}
    
.nav-top {
display: block;
z-index: 1000;
position: relative;
background: none;
padding: 0;
margin-top:-68px !important;
}

.nav-top a{
color: black;
padding: 17px 20px;
}
  
header h2 a {
font-weight: 400;
text-decoration: none;
color: black;
}

header h2 a:hover {
font-weight: 400;
text-decoration: none;
color: black;
opacity: .3;
transition: all 120ms linear;
}

header h2 a:visited{
font-weight: 400;
text-decoration: none;
color: black;
}    
    
header ul li {
display: inline;
font-family:'Montserrat', sans-serif;
font-weight:400;
font-size:14px;

}
    
header ul li a {
color: black;
text-decoration: none;

padding:0;
}
    
header ul {
margin-top: 8px;
width: 100%;
text-align:right;

}
    
header {
height:50px;
background-color:rgb(255, 255, 255);
position:fixed;
width:100%;
padding: 0 40px;
}
    

header ul li a:hover {
color: #ff4e4e;

}
 
/*
.banner {
background: url("../assets/banner-2.jpg")  no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
height: 48rem;
}
    
*/
    
.banner-content {
display: block;
width: 90%;
margin: 0 auto;
}

#banner .contact ul {
text-align: center;
margin: 0 auto;
}

#banner .contact li {
font-family: 'Montserrat','helvetica', sans-serif;
color: #ff4e4e;
font-size: 16px;
font-weight: 800;
line-height: 26px;
 text-align: center; 
margin: 0 20px;
}    
    
/* WORK ================= */
    
#work {
max-width: 100%;
background-color: #white;
}

.kriteek img {
padding-top: 100px;  
}

.kriteek{  
margin: 0 auto;
padding: 100px 0;
max-width: 800px;
}

.kriteek h2{
padding-top: 100px;
margin: 0 auto;
width: 60%;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 800;
text-align: center;    
font-size: 40px;
}

.kriteek p{
color: #98a0a8;
font-family: 'Montserrat',sans-serif;
line-height: 28px;
font-weight: 400;
margin-top: 0;
font-size: 16px;
text-align: center;
padding-bottom: 100px;  
}

.kriteek a{
text-decoration: none;
color: #ff4e4e;
opacity: 1;
}

.kriteek img {
margin: 0 auto;
display: block;
width: 240px;
padding-bottom: 20px;
}
    
.kriteek-2{  
background: url("../assets/kriteek/bg-1.jpg")  no-repeat center center fixed;
background-size: cover;
width: 100%;
height: 30rem;
}
    
.kriteek-3 img {
 width: 600px;
display: block;
margin: 0 auto;
padding-bottom: 200px;
padding-top: 200px;
}


.kriteek-4 img {
 width: 300px;
display: block;
margin: 0 auto;
padding-top: 200px;
padding-bottom: 200px;
}
    
#planet-ink img {
text-align: center;
display: block;
margin: 0 auto;
width: 240px;
margin-bottom: 20px;
padding-top: 100px;
}
    
#planet-ink{  
margin: 0 auto;
padding: 100px 0;
max-width: 800px;
}
    
#planet-ink h2 {
padding-top: 100px;
 margin: 0 auto;
width: 60%;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 800;
text-align: center;    
font-size: 40px;   
}
    
#planet-ink p{
color: #98a0a8;
font-family: 'Montserrat',sans-serif;
line-height: 28px;
font-weight: 400;
margin-top: 0;
font-size: 16px;
text-align: center;
padding-bottom: 100px;  
}
    
#planet-ink-stn{  
background: url("../assets/planet-ink/stationary.jpg")  no-repeat center center;
background-size: cover;
width: 100%;
height: 50rem;
}
    
#planet-ink-2 img {
 width: 600px;
display: block;
margin: 0 auto;
padding-top: 200px;
padding-bottom: 200px;
}
    
#planet-ink-3{  
background: url("../assets/planet-ink/bg-1.jpg")  no-repeat center center fixed;
background-size: cover;
width: 100%;
height: 30rem;
}
    
#planet-ink-sketches{  
background: url("../assets/planet-ink/sketches.jpg")  no-repeat center center fixed;
background-size: cover;
width: 100%;
height: 30rem;
}

/* stayready ================== */

#stayready{  
margin: 0 auto;
padding: 100px 0;
max-width: 50%;
}

#stayready img {
text-align: center;
display: block;
margin: 0 auto;
width: 240px;
margin-bottom: 20px;
padding-top: 100px;
}

#stayready h2{
padding-top: 100px;
margin: 0 auto;
width: 100%;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 800;
text-align: center;    
color: #2abeff;
font-size: 40px;
}

#stayready h3 {
margin: 0 auto;
width: 100%;
padding-bottom: 20px;
font-family: 'Montserrat',sans-serif;
font-weight: 600;
text-align: center;    
font-size: 14px;   
}

#stayready p{
color: #98a0a8;
font-family: 'Montserrat',sans-serif;
line-height: 28px;
font-weight: 400;
margin-top: 0;
font-size: 16px;
text-align: center;
padding-bottom: 100px;
}
    
.stayready img {
width: 600px;
margin: 0 auto;
display: block;
padding: 200px 0;
}
    
/* work-stayready-bg-screen ============== */

#work-stayready-bg-screen{  
background: url("../assets/stayready/bg-screen.jpg")  no-repeat center center fixed;
background-size: cover;
width: 100%;
height: 40rem;
}

.focus-content{
margin: 0 auto;
max-width: 90%;
}
    
#about .me {
color: #6C7A89;
font-family: 'Montserrat',sans-serif;
line-height: 40px;
font-weight: 400;
margin-top: 0;
padding-bottom: 40px;
margin: 0 auto;
font-size: 24px;
word-spacing: 4px;
text-align: center;
}

.about-content {
padding: 100px 0;
max-width: 800px;
}
 
#about h2{
text-align: center;
color: #6C7A89;
font-family: 'Montserrat',sans-serif;
font-size: 40px;
margin: 0;
padding-bottom: 40px;
}    
    
.focus-content {  
max-width: 100%;
}
    
.focus-section p {
margin: 0 auto;
font-family: 'Montserrat',sans-serif;x    
text-align: center;
font-size: 14px;
word-spacing: 2px;
line-height: 22px;
}

.nav {
font-family: 'Montserrat', sans-serif;
width: 90%;
position:relative;
}

.nav {
padding-right: 0;   
}
    
}

@media only screen and (min-width: 46em) {

header h2 a {
font-weight: 400;
text-decoration: none;
color: black;
}

header h2 a:hover {
font-weight: 400;
text-decoration: none;
color: black;
opacity: .3;
transition: all 120ms linear;
}

header h2 a:visited{
font-weight: 400;
text-decoration: none;
color: black;
}
   
.banner-content {
display: block;
margin: 0 auto;
padding-top: 210px; 
width: 90%;
}
    
.kriteek-3 img {
 width: 1000px;
display: block;
margin: 0 auto;
padding-bottom: 200px;
padding-top: 200px;
}
    
/* kriteek-gif ================== */

#work-kriteek-gif {
background-color: #f0f0f0;    
}

.kriteek-gif {
 padding: 100px 0;   
}

.kriteek-gif img {
padding: 60px 0;
margin: 0 auto;
display: block;
width: 800px;
}
    
/* work-stayready ================== */

#work-stayready {
max-width: 100%;
background-color: #f0f0f0;     
}

.stayready img {
width: 800px;
margin: 0 auto;
display: block;
}
    
.focus{
text-align: center;
}
    

    
.focus-section p {
margin: 0 auto;
font-family: 'Montserrat',sans-serif;
text-align: center;
font-size: 14px;
word-spacing: 2px;
line-height: 22px;
}
    
#about .me {
color: #6C7A89;
font-family: 'Montserrat',sans-serif;
line-height: 40px;
font-weight: 400;
margin-top: 0;
padding-bottom: 40px;
margin: 0 auto;
font-size: 24px;
word-spacing: 4px;
text-align: center;
}
    
.focus-content{
margin: 0 auto;
padding: 200px 0;
max-width: 100%;
}
    
}

@media only screen and (min-width: 50em) {
    
header h2 a {
font-weight: 400;
text-decoration: none;
color: black;
}

header h2 a:hover {
font-weight: 400;
text-decoration: none;
color: black;
opacity: .3;
transition: all 120ms linear;
}

header h2 a:visited{
font-weight: 400;
text-decoration: none;
color: black;
}
    
.banner-content {
display: block;
margin: 0 auto;
padding-top: 150px; 
max-width: 600px;
}
    
#planet-ink-4 img{
width: 800px;
}
    
.stayready img {
width: 1000px;
margin: 0 auto;
display: block;
}


.screen-list ul {
padding: 100px 0px;
margin: auto;

}

.screen-list li{
text-align: center;
padding: 60px 0px;
}
    
    
#about .me {
color: #6C7A89 !important;
font-family: 'Montserrat',sans-serif;
line-height: 40px ;
font-weight: 400;
margin-top: 0;
padding-bottom: 40px;
width: 100%;
margin: 0 auto;
font-size: 24px ;
word-spacing: 4px;
text-align: center;
}

    
}

@media only screen and (min-width: 66em) {
 
header h2 a {
font-weight: 400;
text-decoration: none;
color: black;
}

header h2 a:hover {
font-weight: 400;
text-decoration: none;
color: black;
opacity: .3;
transition: all 120ms linear;
} 
    
header h2 a:visited{
font-weight: 400;
text-decoration: none;
color: black;
}

.banner-content {
padding-top: 190px;
display: block;
max-width: 650px;
margin: 0 auto;
padding-bottom: 130px;
}
    
    
    
}